input[type="text"], 
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
select,
textarea,
.selectBox-dropdown{
	-webkit-appearance: none;
  	-moz-appearance: none;
  	border-radius: 0;
  	background-color: #FFFFFF;
  	border-style: solid;
  	border-width: 1px;
  	border-color: #cccccc;
  	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  	color: rgba(0, 0, 0, 0.75);
  	display: block;
  	font-family: inherit;
  	@include font-size(12px);
  	height: 30px;
  	margin: 0 0 10px 0;
  	padding: 10px;
  	width: 100%;
  	box-sizing: border-box;
	@include transition (background-color .1s linear 0s);
	//font-family:$merriweather;
	&:focus{
		background-color: darken(white,10);
		outline:none;
	}
	@include placeholder {
    color: $grey; 
  }
}
textarea{
	padding: 10px;
	height: auto;
	resize: none;
}
button{
	background-color: $grey;
	border:none;
	color: white;
	height:30px;
	line-height:1;
	text-align:center;
	@include font-size(12px);
}