.block-heading{
	span{
		display: block;
		width:100%;
		margin-bottom:3px;
		.heading-left &{
			text-align: left;
		}
		.heading-right &{
			text-align: right;
		}
		em{
			display: inline-block;
			padding:6px 10px 10px;
			text-align: center;
			width:auto;
			line-height: 100%;
			margin:0 auto;
			.heading-left &, .heading-right &{
				margin:0;
				text-align: right;
			}
			font-style:normal;
			color: white;
			background-color: $blue;
			.opaque-heading &{
				background-color: rgba(5,73,144,.7);
			}
			.red-blue-heading &{
				background-color: $red;
			}
			.white-yellow-heading &{
				background-color: white;
				color: $blue;
			}
			.yellow-white-heading &{
				background-color: $yellow;
				color: $blue;
			}	
		}
		&.secondary{
			em{
				background-color: $yellow;
				color: $blue;
				.blue-red-heading &{
					background-color: $red;
					color: white;
				}
				.red-blue-heading &{
					background-color: $blue;
					color: white;
				}
				.yellow-white-heading &{
					background-color: white;
				}
			}
		}
	}
}
.big{
	@include font-size(26px);
	line-height: 120%;
	color: $blue;
}
.centered-text{
	text-align: center;
}
.inner-padding{
	padding:0 50px;
}
.text-right{
	text-align: right;
}
.bottom-right{
	@include abs-pos(auto,0,0,auto);
}
.icon-header{
	padding-top:150px;
	position: relative;
	width:100%;
	display: block;
	.icon{
		width:122px;
		height:122px;
		@include abs-pos(0,0,auto,auto);
		img{
			width:100%;
			height:auto;
			display: block;
		}
	}
}
.bullet-list{
	li{
		padding:0 0 0 15px;
		position: relative;
		margin-bottom: 4px;
		&:before{
			content:"•";
			@include abs-pos(0,auto,auto,0);
			color: $red;
		}
	}
	&.white{
		li{
			&:before{
				color: white;
			}
		}
	}
}
.quote-outer{
	display: block;
	width: 100%;
	padding: 0 10%;
}
blockquote{
	padding: 0 40px;
	margin-bottom: 30px;
	color: white;
	position: relative;
	&:before,&:after{
		content:"";
		width:30px;
		height:30px;
		background-image:url('../images/open-quote.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		@include abs-pos(0,auto,auto,0);
	}
	&:after{
		@include abs-pos(auto,0,0,auto);
		background-image:url('../images/close-quote.png');
	}
}
a.read-more{
	display: inline-block;
	height:48px;
	position: relative;
	text-decoration:none;
	margin-bottom:13px;
	span{
		height:38px;
		line-height: 38px;
		color: $blue;
		display: block;
		@include font-size(18px);
		text-align: center;
		padding: 0 20px;
		z-index: 2;
		position: relative;
		background-color: $yellow;
		@include transition(background-color .3s ease);
		margin-bottom: 13px;
		.red-btns &{
			background-color: $red;
			color: white;
		}
		.blue-btns &{
			background-color: $blue;
			color: white;
		}
	}
	&:before{
		content:"";
		z-index: 1;
		width: 30px;
		height: 13px;
		display: block;
		@include abs-pos(auto,0,4px,auto);
		background-color: $grey;
		@include transform(skewY(-20deg));
		.red-btns &, .blue-btns &{
			background-color: $dark-grey;
		}
	}
	&:hover,&:active{
		span{
			background-color:$light-yellow;
			.red-btns &{
				background-color: lighten($red,10%);
			}
			.blue-btns &{
				background-color: lighten($blue,10%);
			}
		}
	}
}
a.video-btn{
	display:inline-block;
	background-color: $yellow;
	height:40px;
	text-decoration:none;
	line-height: 40px;
	@include font-size(22px);
	padding:0 55px 0 15px;
	position: relative;
	&:after{
		content:"";
		@include abs-pos(50%,15px,auto,auto);
		width:27px;
		height:27px;
		display: block;
		margin-top:-13px;
		background:url('../images/video-play.png') center center no-repeat;
		background-size: 100% auto;
	}
	&:hover,&:active{
		background-color: $light-yellow;
	}
}
.blue-sub-heads{
	h3,h4{
		color: $blue !important;
	}
}
.red-sub-heads{
	h3,h4{
		color: $red;
	}
}
.white-sub-heads{
	h3,h4{
		color: white;
	}
}
.gold-partner{
	display: block;
	@extend %ir;
	width: 50%;
	height: auto;
	margin:0 auto;
	img{
		width: 100%;
		height:auto;
		display: block;
	}
}
.section-footer{
	width:100%;
	display:block;
	text-align: center;
	@include abs-pos(auto,auto,30px,0);
	z-index:999;
}
.spaced{
	//margin-bottom:20px;
	margin-bottom: 1.8752em;
}
.anchor-up{
	@include abs-pos(-15px,auto,auto,50%);
	margin-left: -25px;
	display: inline-block;
	background: white url('../images/anchor-up-arrow.jpg') center center no-repeat;
	width:50px;
	height:50px;
	z-index:998;
	.straight-top &{
		top:50px;
	}
	@extend %ir;
}
figure{
	display: block;
	width:100%;
	img{
		display: block;
		width:100%;
		height: auto;
	}
}
.ribbon{
	display:inline-block;
	height:40px;
	width:auto;
	position:relative;
	margin: 0 auto 10px;
	color: white !important;
	@include font-size(18px);
	text-decoration:none;
	span{
		height:40px; 
		line-height:40px;
		display: block;
		position: relative;
		width:100%;
		z-index: 2;
		background-color: $blue;
		text-align: center;
		padding: 0 20px;
		@include transition(background-color .3s ease);
	}
	&:before{
		content:"";
		z-index: 1;
		width: 30px;
		height: 13px;
		display: block;
		@include abs-pos(auto,1px,-6px,auto);
		background-color: $dark-grey;
		@include transform(skewY(-20deg));
	}
	&.left{
		float:none !important;
	}
	&.right{
		float:none !important;
	}
	
	&.yellow{
		color: $blue !important;
		span{
			background-color: $yellow;
		}
		&:hover,&:active{
			span{
				background-color: $light-yellow;
			}
		}
	}
	&:hover,&:active{
		span{
			background-color: lighten($blue,10%);
		}	
	}
}
.insets-footer{
	display: block;
	position: relative;
	width: 100%;
	padding: 50px 10px 40px;
	a.read-more{
		@include abs-pos(auto,10px,0,auto);
	}
}

@media #{$medium-up} { 

	a.read-more{
		height:48px;
		span{
			height:48px;
			line-height: 48px;
			@include font-size(20px);
		}
		&:before{
			@include abs-pos(auto,0,-6px,auto);
		}
	}

	.block-heading{
		span{
			margin-bottom:8px;
		}
	}
	.gold-partner{
		width: 155px;
	}
	.ribbon{
		display:inline-block;
		height:48px;
		width:320px;
		position:relative;
		
		margin: 0 0 0 -78px;
		.nested-section &{
			margin: -20px 0 0 -118px;
		}
		color: white;
		@include font-size(24px);
		float: left !important;
		text-decoration:none;
		span{
			height:48px; 
			line-height:48px;
			display: block;
			position: relative;
			width:100%;
			z-index: 2;
			background-color: $blue;
			text-align: center;
			padding: 0 20px 0 48px;
			@include transition(background-color .3s ease);
		}
		&:before{
			content:"";
			z-index: 1;
			@include abs-pos(-24px,auto,auto,0);
			height:48px;
			@include transform(skewY(-45deg));
			line-height:48px;
			background-color: $grey;
			width:48px;
			display: block;
			@include linear-gradient(45deg, black 0%, $blue 100%);
		}
		&.left{
			float: left !important;
		}
		&.right{
			margin: 0 -88px 0 0;
			.nested-section &{
				margin: -20px -128px 0 0;
			}
			float:right !important;
			span{
				padding: 0 48px 0 20px;
			}
			&:before{
				@include abs-pos(-29px,0,auto,auto);
				@include transform(skewY(45deg));	
			}
			&.yellow{
				&:before{
					@include linear-gradient(-45deg, lighten(black,50%) 0%, $yellow 100%);
				}
			}
		}
		&.yellow{
			color: $blue;
			span{
				background-color: $yellow;
			}
			&:hover,&:active{
				span{
					background-color: $light-yellow;
				}
			}
			&:before{
				@include linear-gradient(45deg, lighten(black,50%) 0%, $yellow 100%);
			}
		}
		&:hover,&:active{
			span{
				background-color: lighten($blue,10%);
			}	
		}
	}
	.shift-left-30{
		margin-left:30px !important;
	}
	.shift-left-55{
		margin-left:55px !important;
	}
	.shift-right-30{
		margin-right:30px !important;
	}
	.shift-right-55{
		margin-right:55px !important;
	}
	.big{
		@include font-size(36px);
	}

}

@media #{$large-up} { 


}

@media #{$xlarge-up} { 

	a.video-btn{
		display:inline-block;
		background-color: $yellow;
		height:67px;
		text-decoration:none;
		line-height: 67px;
		@include font-size(30px);
		padding:0 90px 0 25px;
		position: relative;
		&:after{
			content:"";
			@include abs-pos(50%,25px,auto,auto);
			width:47px;
			height:47px;
			display: block;
			margin-top:-23px;
			background:url('../images/video-play.png') center center no-repeat;
		}
		&:hover,&:active{
			background-color: $light-yellow;
		}
	}
	.big{
		@include font-size(46px);
	}
	a.read-more{
		span{
			@include font-size(24px);
		}
	}

	.ribbon{
		display:inline-block;
		height:58px;
		width:320px;
		position:relative;
		
		margin: 0 0 0 -88px;
		.nested-section &{
			margin: -20px 0 0 -128px;
		}
		color: white;
		@include font-size(24px);
		float: left !important;
		text-decoration:none;
		span{
			height:58px; 
			line-height:58px;
			display: block;
			position: relative;
			width:100%;
			z-index: 2;
			background-color: $blue;
			text-align: center;
			padding: 0 20px 0 58px;
			@include transition(background-color .3s ease);
		}
		&:before{
			content:"";
			z-index: 1;
			@include abs-pos(-29px,auto,auto,0);
			height:58px;
			@include transform(skewY(-45deg));
			line-height:58px;
			background-color: $grey;
			width:58px;
			display: block;
			@include linear-gradient(45deg, black 0%, $blue 100%);
		}
		&.left{
			float: left !important;
		}
		&.right{
			margin: 0 -88px 0 0;
			.nested-section &{
				margin: -20px -128px 0 0;
			}
			float:right !important;
			span{
				padding: 0 58px 0 20px;
			}
			&:before{
				@include abs-pos(-29px,0,auto,auto);
				@include transform(skewY(45deg));	
			}
			&.yellow{
				&:before{
					@include linear-gradient(-45deg, lighten(black,50%) 0%, $yellow 100%);
				}
			}
		}
		&.yellow{
			color: $blue;
			span{
				background-color: $yellow;
			}
			&:hover,&:active{
				span{
					background-color: $light-yellow;
				}
			}
			&:before{
				@include linear-gradient(45deg, lighten(black,50%) 0%, $yellow 100%);
			}
		}
		&:hover,&:active{
			span{
				background-color: lighten($blue,10%);
			}	
		}
	}
}
