#nav{
	background-color: $blue;
	//@include centered-menu;
	//border-bottom: 1px solid white;
	overflow:visible;
	z-index:999;
	li{
		padding:0 40px;
		position:relative;
		overflow:visible;
		//width:100%;
		border-bottom:1px solid white;
	}
	a{
		height:48px;
		line-height: 48px;
		text-transform: uppercase;
		@include font-size(14px);
		letter-spacing: 2px;
		font-family: $verlag-bold;
		text-decoration: none;
		&:link,&:visited{
			color: white;
			@include opacity(.8);
		}
		&:hover,&:active{
			@include opacity(1);
		}
	}
}
nav.social{
	@include centered-menu;
	margin-bottom:60px;
	li{
		padding: 0 5px;
	}
	a{
		display: block;
		width: 32px;
		height:32px;
		@include bg-image('../images/twitter');
		background-size:100% auto;
		@extend %ir;
		&.facebook{
			@include bg-image('../images/facebook');
		}
	}
}


@media #{$medium-up} { 

	#nav{
		border-bottom: 1px solid white;
		li{
			width:50%;
			text-align:left;
			float:left;
			padding:0 40px;
			position:relative;
			overflow:visible;
			border-bottom:0;
			&:first-child{
				text-align: right;
				&:before{
					content:"";
					@include abs-pos(0,0,auto,auto);
					background-color: white;
					width: 1px;
					height: 70px;
					display: block;
				}
				&:after{
					content:"";
					@include abs-pos(70px,-2px,auto,auto);
					background-color:white;
					@include border-radius(50%);
					width:5px;
					height: 5px;
					display: block;
				}
			}
		}
		a{
			@include font-size(16px);
		}

	}
	nav.social{
		a{
			width:32px;
			height: 32px;	
		}
	}

}

@media #{$xlarge-up} { 

	#nav{
		a{
			@include font-size(18px);
		}

	}
	nav.social{
		a{
			width:48px;
			height: 48px;	
		}
	}

}