.section{
	display:block;
	width:100%;
	padding: 40px 10px;
	text-align: left;
	position: relative;
	z-index:100;
	&.above{
		z-index: 101;
	}
	&.top{
		z-index: 102;
	}
	&.two-box{
		margin-top:-20px;
		margin-bottom: -20px;
	}
	&.offset-up{
		margin-top: -50px;
	}
	&.offset-down{
		margin-bottom: -50px;
	}
	&.no-bottom-angle{
		margin-bottom: 0;
		padding-bottom:0;
	}
	&.no-top-angle{
		padding-top:0;
	}
	&.shift-up{
		margin-top:-90px;
	}
	&.centered-text{
		text-align: center;
	}
	&.red{
		color: white;
		h1,h2,h3,h4{
			color: white;
		}
	}
}
.skewed-bg{
	display: block;
	@include bg-cover;
	@include abs-pos(0,0,0,0);
	.csstransforms &{
		@include transform(skewY(3.5deg));
	}
	.red &{
		background-color: $red;
	}
	.blue &{
		background-color: $blue;
	}
	.grey &{
		background-color: $light-grey;
	}
	.black &{
		background-color: black;
	}
	.light-blue &{
		background-color: $light-blue;
	}
	.light-yellow &{
		background-color: $light-yellow;
	}
	.yellow &{
		background-color: $yellow;
	}
	z-index: 1;
}
.section-inner{
	width:100%;
	height:100%;
	position: relative;
	display: block;
	.red &{
		background-color: $red;
	}
	.grey &{
		background-color: $light-grey;
	}
	.light-grey &{
		background-color: $xlight-grey;
	}
	.yellow &{
		background-color: $yellow;
	}
	.skewed &{
		background-color: transparent;
	}
}
.section-content{
	padding:60px 30px 70px;
	.overlap-top &{
		padding:80px 30px 30px;
	}
	.overlap-bottom &{
		padding:30px 30px 120px;
	}
	.skewed &{
		padding-top:50px;
	}
	.two-box &{
		padding:0;
	}
	.first &{
		padding-top:50px;
	}
	.insets &{
		padding-left:70px;
		padding-right:70px;
	}
	.gutters &{
		padding-left:10%;
		padding-right:10%;
	}
	.anchor-bottom &{
		padding-bottom: 90px;
	}
	.video-link &{
		padding-top:150px;
		padding-bottom:150px;
	}
	background-color: transparent;
	@include bg-cover;
	z-index: 2;
	position: relative;
	.straight-top &{
		padding-top:120px;
	}
	.straight-top.anchor &{
		padding-top: 140px;
	}
	position: relative;
	display:block;
	width:100%;
	
	.two-box &{
		&:before, &:after{
			content:"";
			display: block;
			width:100%;
			height:90px;
			z-index: 1;
			background-color:white;
			@include abs-pos(-43px,auto,auto,0);
			@include transform(skewY(3.5deg));
			.bg-image &{
				background-color: white;
			}
		}
		&:after{
			@include abs-pos(auto,auto,-43px,0);
			.no-bottom-angle &, .skewed &{
				display:none;
			}
		}
	}
}
.nested-section-content{
	.blue &{
		background-color: $blue;
		color: white
	}
	.red &{
		background-color: $red;
		color: white;
	}
	.black &{
		background-color: black;
		color: white;
	}
	.grey &{
		background-color: $light-grey;
		color: $dark-grey;
	}
}
.section-content-inner{
	padding:0 10px;
	#video-link &{
		padding: 80px 30px 80px;
	}
	.no-bottom-angle &{
		padding-bottom:80px;
	}
	.bg-image &{
		padding: 90px 30px 80px;
	}
}
.nested-section-content{
	&.section-content-inner{
		padding: 100px 40px 50px;
		&.second{
			padding: 120px 40px 70px;
		}
	}
}
.section-content-wrap{
	position:relative;
	z-index: 4;
}
.section-footer{
	display: block;
	width: 100%;
}

.nested-section{
//	padding: 0 10px;
	width:100%;
	display: block;
	figure{
		z-index: 1;
		position: relative;
		width:100%;
		display: block;
		&:before{
			content:"";
			display: block;
			padding-top:60%;
		}
		.image{
			background-color: $grey;
			@include abs-pos(0,0,0,0);
			@include bg-cover;
		}
		
	}
	.content-wrap{
		background-color: $red;
		color: white;
		position: relative;
		h3,h4{
			color: white;
			@include font-size(40px);
		}
		h4{
			@include font-size(24px);
		}
		&.angle{
			&:before{
				content:"";
				display: block;
				width:100%;
				height:50px;
				z-index: 2;
				background-color:$red;
				@include abs-pos(-25px,auto,auto,0);
				@include transform(skewY(-3.5deg));
			}
		}
		
		.content{
			width:100%;
			display: block;
			padding: 20px 30px 30px;
			position: relative;
			z-index: 3;

		}
	}
	&.white{
		.content-wrap{
			background-color: white;
			color: $dark-grey;
			h3,h4{
				color: $red;
			}
			&.angle{
				&:before{
					background-color: white;
				}
			}	
		}
	}
	&.blue{
		.content-wrap{
			background-color: $blue;
			color: white;
			h3,h4{
				color: white;
			}
			&.angle{
				&:before{
					background-color: $blue;
				}
			}
		}
	}
	&.grey{
		.content-wrap{
			background-color: $light-grey;
			color: $dark-grey;
			h3,h4{
				color: $blue;
			}
			&.angle{
				&:before{
					background-color: $light-grey;
				}
			}
		}
	}
	&.light-grey{
		.content-wrap{
			background-color: $xlight-grey;
			color: $dark-grey;
			h3,h4{
				color: $blue;
			}
			&.angle{
				&:before{
					background-color: $xlight-grey;
				}
			}
		}
	}
	footer{
		text-align: center;
		img{
			margin:0 auto;
			display: inline-block;
		}
	}
}

/* Medium Breakpoint */

@media #{$medium-up} { 

	.section{
		padding: 0 50px;
	}
	.section-content-inner{
		padding:80px 30px 100px;
		#video-link &{
			padding: 200px 30px 200px;
		}
	}
	.nested-section-content{
		&.section-content-inner{
			padding: 100px 50px 50px;
			&.second{
				padding: 60px 50px 100px;
			}
		}
	}

}

/* Large Breakpoint */

@media #{$large-up} { 

	.section{
		padding: 0 70px;
	}
	.section-content-inner{
		padding:0 30px;
		.insets &{
			padding: 80px;
		}
	}

}

/* XLarge Breakpoint */

@media #{$xlarge-up} { 

	.section{
		padding: 0 70px;
	}
	.section-content{
		.video-link &{
			padding-top:200px;
			padding-bottom:200px;
		}
	}

}