html{
	//font-size: 62.5%;
}
body{
	background-color: $light-grey;
	color: $dark-grey;
	font-family: $verlag-light;
	font-weight: normal;
	overflow-x:hidden;
	//-webkit-font-smoothing: antialiased;
}
